<%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, user_dashboard_users_path %>

<%= turbo_frame_tag "user__#{@user.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <% if @user.errors.any? %>
      <%= render(partial: "user_dashboard/errors", locals: {resource: @user }) %>
    <% end %>

    <h2>Editing <%= @user.name %></h2>
    <%= form_with model: @user, url: user_dashboard_user_path(@user) do |f| %>
    <%=  render partial: "form",  locals: {:user => @user, f: f} %>
    <% end %>

  </div>

<% end %>


