<div class='col-md-2'><%= user.email %></div>
<div class='col-md-2'><%= user.name %></div>


  

  

    
    
    
    
    <div class=" col-md-6 scaffold-downnest"  >
  <%= render partial: "admin_dashboard/invoices/list", locals: {
    nested_for: "user-#{user.id}",
    user: user,
    invoices: user.invoices} %>
  </div>
  



<div class=" scaffold-line-buttons  col-md-2" >
  

  
    <%= form_with url: admin_dashboard_user_path(user), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ user.name }?"}, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-user-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_admin_dashboard_user_path(user), disable_with: "Loading...", class: "edit-user-button btn btn-primary btn-sm" %>
  
</div>
