<div class="row">
  <div class='col-md-2' >  
    <span class='<%= "alert-danger" if invoice.errors.details.keys.include?(:number) %>'  style="display: inherit;"  >
      <%= @invoice.number %>
      <label class='small form-text text-muted'>Number</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", user_dashboard_user_invoices_path,  {class: "btn btn-secondary"} %>
    <%= f.hidden_field "_________" %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
